/* Importação do Tailwind base, componentes e utilitários */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importação das fontes Roboto e Audiowide */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Configuração global para rolagem suave */
html {
  scroll-behavior: smooth;
}

/* Definindo a fonte padrão como Roboto */
body {
  font-family: 'Roboto', sans-serif;
}

/* Utilitário para ajuste de quebra de linha em texto */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body::-webkit-scrollbar {
  width: 0.1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(134, 134, 134, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 2px solid #fff;
  /* Remova o 0 antes de #fff*/
}

/* Definindo variáveis de cor para modo claro */
@layer base {
  :root {
    /* Variáveis principais para elementos de fundo, texto e componentes */
    --background: 0 0% 100%; /* Branco */
    --foreground: 224 71.4% 4.1%; /* Preto */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    
    /* Paleta de cores principais */
    --primary: 262.1 83.3% 57.8%; /* Azul */
    --primary-foreground: 210 20% 98%; /* Cinza claro */
    --secondary: 220 14.3% 95.9%; /* Azul claro */
    --secondary-foreground: 220.9 39.3% 11%; /* Cinza escuro */
    
    /* Cores mutáveis e de destaque */
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    
    /* Cor para bordas e anéis */
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    
    /* Cores para elementos gráficos */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* Definindo variáveis para modo escuro */
  .dark {
    --background: 224 71.4% 4.1%; /* Fundo escuro */
    --foreground: 210 20% 98%; /* Texto claro */
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  /* Estilos globais para bordas e o fundo principal */
  * {
    @apply border-border;
  }

  /* Estilos globais para o fundo e texto do corpo */
  body {
    @apply bg-background text-foreground;
  }

  /* Estilos para título principal */
  h1 {
    @apply text-3xl font-bold;
  }

  /* Aplicação da fonte Audiowide */
  .font-audiowide {
    font-family: 'Audiowide', sans-serif;
  }

  /* Cor principal de fundo */
  .bg-main {
    background-color: #EFF2F4;
  }

  .dc-main {
    background-color: hsl(var(--sidebar-background));
    color: hsl(var(--sidebar-foreground));
  }

  /* Variáveis para a barra lateral */
  :root {
    --sidebar-background: 0 0% 100%; /* Branco */
    --sidebar-foreground: 222.2 47.4% 11.2%; /* Cor do texto na barra */
    --sidebar-primary: 222.2 47.4% 11.2%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 222.2 84% 4.9%;
  }  

  .dark {
    --sidebar-background: 0 0% 0%; /* Fundo quase preto */
    --sidebar-foreground: 0 0% 98%; /* Texto claro */
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 0 0% 11.2%; /* Texto escuro */
    --sidebar-accent: 0 0% 17.5%; /* Fundo cinza escuro */
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 17.5%;
    --sidebar-ring: 0 0% 83.9%;
  }
  /* label responsiva formularios */
  .responsive-label {
    @apply hidden md:flex;
}
}
